<!doctype html >
<html>

<head>
  <title>Clinic-R Report</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 2px 50px 2px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  .heading{
    font-size: 15px;
    margin: 5px;
  }
  
  #accounting{
    text-align: center;
    margin: 5px 0px 10px 0x;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

<body>
  <div class="test">
    <h2 id="accounting">Accounting Report</h2>
    <p class="heading">From <%= from %> to <%= to %></p>
    <%if (showRevenues) { %><p class="heading">Total Revenues = <%= totalRevenues %></p> <% } %>
    <%if (showExpenses) { %> <p class="heading">Total Expenses = <%= totalExpenses %></p><% } %>
    <%if (showRevenues && showExpenses) { %><p class="heading">Profit = <%= profit %></p> <% } %>
    <hr/>
    
    <%if (showRevenues) { %>
      <p class="heading">Revenues</p>
      <table>
        <tr>
          <th>Seq</th><th>Name</th><th>Amount</th><th>Date</th>
        </tr>
    
        <% for (var i = 0; i < revenues.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= revenues[i].name %></td>
          <td><%= revenues[i].amount %></td>
          <td><%= revenues[i].date %></td>
        </tr>    
        <% } %>
    </table>
    <hr></hr>
   <% } %>
   <%if (showExpenses) { %>
    <p class="heading">Expenses</p>
    <table>
      <tr>
        <th>Seq</th><th>Name</th><th>Amount</th><th>Date</th>
      </tr>
  
      <% for (var i = 0; i < expenses.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= expenses[i].name %></td>
        <td><%= expenses[i].amount %></td>
        <td><%= expenses[i].date %></td>
      </tr>    
      <% } %>
    </table>
   <% } %>
  </div>
</body>

</html>