<!DOCTYPE html>
<html>
  <head>
    <title>Clinic-R Report</title>
  </head>
  <style>
    .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .totalsContainer {
      display: flex;
      justify-content: space-around;
    }
    .name {
      font-weight: bold;
      margin-right: 10px;
    }
    .rowTitle {
      margin-top: 20px;
      display: flex;
      font-weight: bold;
      justify-content: space-between;
    }
    .rowData {
      display: flex;
      justify-content: space-between;
    }
    .content{
      width:100px;
      display: flex;
      text-align: center;
    }
  </style>
  <body>
    <div class="title">Daily Report</div>
    <div class="totalsContainer">
      <div class="name">Day:</div>
      <div><%= dayName %></div>
    </div>
    <div class="rowTitle">
      <div class="content">Doctor</div>
      <div class="content">Patient</div>
      <div class="content">Power one</div>
      <div class="content">Power two</div>
      <div class="content">Type</div>
      <div class="content">Pulses</div>
    </div>
    <% for (let row of data) { %>
    <div class="rowData">
      <div class="content"><%= row.doctor %></div>
      <div class="content"><%= row.patient %></div>
      <div class="content"><%= row.powerOne %></div>
      <div class="content"><%= row.powerTwo %></div>
      <div class="content"><%= row.type %></div>
      <div class="content"><%= row.pulses %></div>
    </div>
    <% } %>
  </body>
</html>
