<!DOCTYPE html>
<html>
  <head>
    <title>Clinic-R Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      margin: 0px 2px 50px 2px;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }
    .heading {
      font-size: 15px;
      margin: 5px;
    }

    #accounting {
      text-align: center;
      margin: 5px 0px 10px 0x;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>

  <body>
    <div class="test">
      <h2 id="accounting">Insurrance Report</h2>
      <p class="heading">
        from <%= from %> to <%= to %>
      </p>
      <p class="heading">Total Amount = <%= totalAmount %></p>
      <hr />

      <table>
        <tr>
          <th>Seq</th>
          <th>Name</th>
          <th>Patient</th>
          <th>Amount</th>
          <th>Company</th>
          <th>Doctor</th>
          <th>Card ID</th>
          <th>Date</th>
        </tr>

        <% for (var i = 0; i < transactions.length; i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= transactions[i]?.companySession?.name %></td>
          <td><%= transactions[i]?.patient?.name %></td>
          <td><%= transactions[i].amount %></td>
          <td><%= transactions[i].company.name %></td>
          <td><%= transactions[i].doctor.name %></td>
          <td><%= transactions[i].cardId %></td>
          <td><%= formatDateStandard(transactions[i].date) %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
