<!DOCTYPE html>
<html>
  <head>
    <title>Clinic-R Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <style>
    .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .totalsContainer {
      display: flex;
      justify-content: space-around;
    }
    .name{
      font-weight: bold;
      margin-right: 10px;
      font-size: 12px;
    }
    .rowTitle{
      margin-top: 20px;
      display: flex;
      font-size: 12px;
      font-weight: bold;
      justify-content: space-between;
    }
    .rowData{
      display: flex;
      justify-content: space-between;
    }
  </style>
  <body>
    <div>
      <div class="title">Monthly Report</div>
      <div class="totalsContainer">
        <div class="name">Month:</div>
        <div><%= monthName %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">Total Of Revenue:</div>
        <div><%= totalRevenues %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">Total Of Expenses:</div>
        <div><%= totalExpenses %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">Total Of Sales:</div>
        <div><%= totalSales %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">number of Examination appointments:</div>
        <div><%= numOfExamination %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">number of Followup appointments:</div>
        <div><%= numOfFollowup %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">number of Sessions appointments:</div>
        <div><%= numOfSession %></div>
      </div>
      <div class="totalsContainer">
        <div class="name">number of Courses appointments:</div>
        <div><%= numOfCourses %></div>
      </div>
      <div class="rowTitle">
        <div style="margin-left: 10px;">Date</div>
        <div style="margin-left: 10px;">Pulses</div>
        <div style="margin-left: 10px;">Before</div>
        <div style="margin-left: 10px;">After</div>
        <div style="margin-left: 10px;">Diff</div>
      </div>
      <% for (let row of data) { %>
      <div class="rowData">
        <div><%= row.date %></div>
        <div><%= row.numOfPulses %></div>
        <div><%= row.before %></div>
        <div><%= row.after %></div>
        <div><%= row.diff %></div>
      </div>
      <% } %>
    </div>
  </body>
</html>
