<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="title">Monthly Report </div>
    <div>Total Of Revenue <%= totalRevenues%></div>
    <div>Total of Expenses <%= totalExpenses%></div>
    <div>number of Examination appointments <%= numOfExamination%></div>
    <div>number of Followup appointments <%= numOfFollowup%></div>
    <div>number of Sessions appointments <%= numOfSession%></div>
    <div>number of Courses appointments <%= numOfCourses%></div>
    
  </body>
</html>
