<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <div style="text-align: center; font-weight: bold; margin-bottom: 20px;">
        Monthly Report
      </div>
      <div style="margin-bottom: 10px;">
        Total Of Revenue: <%= totalRevenues %>
      </div>
      <div style="margin-bottom: 10px;">
        Total of Expenses: <%= totalExpenses %>
      </div>
      <div style="margin-bottom: 10px;">
        number of Examination appointments: <%= numOfExamination%>
      </div>
      <div style="margin-bottom: 10px;">
        number of Followup appointments: <%= numOfFollowup %>
      </div>
      <div style="margin-bottom: 10px;">
        number of Sessions appointments: <%= numOfSession %>
      </div>
      <div style="margin-bottom: 10px;">
        number of Courses appointments: <%= numOfCourses %>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div>Date</div>
        <div>Pulses</div>
        <div>Before</div>
        <div>After</div>
        <div>Diff</div>
      </div>
      <% for (let row of data) { %>
      <div style="display: flex; justify-content: space-between;">
        <div><%= row.date %></div>
        <div><%= row.numOfPulses %></div>
        <div><%= row.before %></div>
        <div><%= row.after %></div>
        <div><%= row.diff %></div>
      </div>
      <% } %>
    </div>
  </body>
</html>
